<!DOCTYPE html>
<html ng-app="pokemon" ng-controller="MainController">
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<script type="text/javascript" src="js/shared/jquery.js"></script>
	<script type="text/javascript" src="js/shared/bootstrap.js"></script>
	<script type="text/javascript" src="js/shared/angular.js"></script>
    <script type="text/javascript" src="js/shared/angular-route.js"></script>
	<!-- dependencias de angular -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers/MainController.js"></script>
    <script type="text/javascript" src="js/controllers/PokemonController.js"></script>
    <script type="text/javascript" src="js/controllers/PokemonMovementController.js"></script>
    <script type="text/javascript" src="js/controllers/PokemonTypeController.js"></script>
    <script type="text/javascript" src="js/utils/filters.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>
    <ul class="nav navbar-nav">
		<li ng-repeat="element in navigation" class="{{ element.condition ? 'active' : '' }}"><a ng-href="{{element.link}}">{{element.text}}</a> </li>
    </ul>
  </div>
</nav>
<main>
    <div ng-view></div>
</main>
</body>
</html>